:root{
    --page-1:tan;
    --page-2:teal;
    --page-3:steelblue;
    --page-4:slateblue;
    --animate-speed:1s;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color:#fff; */
    line-height: 1.4rem;
    margin:0;
    padding:0;
    overflow: hidden;
}
#page-1{background: var(--page-1);}
#page-2{background: var(--page-2);}
#page-3{background: var(--page-3);}
#page-4{background: var(--page-4);}

.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content:center;
    align-items: center;    
}
h1{
    font-size: 4rem;
    line-height: 1.4rem;

}
p{
    font-size: 1.4rem;
    padding:0 15rem;
}
.btn{
    text-decoration:none ;
    display: inline-block;
    background-color: #fff;
    
    border:none;
    margin:1rem;
    padding:1rem 2rem;
    color:#333;
    transform: all 0.3s ease-in;
}
.btn:hover,.btn-dark{
    background: #3343;
    color:#fff;
}

.btn-dark:hover{
    background: #fff;
    color:#333;
}
#page-1 h1{
    transform:translateY(-1200px) ;
    animation: heading var(--animate-speed) forwards ease-in-out;
}
#page-1 p{
    transform:translateX(-1800px) ;
    animation: para var(--animate-speed) forwards ease-in-out;
}
@keyframes heading{
    to{
       transform: translateY(0); 
    }
}
@keyframes para{
    to{
       transform: translateX(0); 
    }
}